{% extends "AvesnesMedicalecommerceBundle::layout.html.twig" %}

{% block title %}{{ parent() }} {{ categorie.nom }} {% endblock %}
{% block body %}
    <table class="table table-bordered table-striped table-condensed">
        <caption>
            <h1>Produits pour la catégorie {{ categorie.nom }}  </h1>
        </caption>
        <thead>
            <tr>
                <th> Designation</th>
                <th> Prix </th>
                <th> Photo du produit</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for unProduit in produit  %}
                 <tr>
                   <td>
                       <a href="{{ path('AfficherProduit', { 'id': unProduit.id }) }}">{{ unProduit.nom }}</a>
                   </td>
                   <td>{{ unProduit.prix }} €</td>
                   <td>{# On vérifie qu'une image soit bien associée au produit #}
                       {% if unProduit.photo is not null %}
                           <img src="{{ asset('img/photosuploads/documents/'~ unProduit.photo.path)}}" alt="{{ unProduit.photo.nom }}" width="130" height="130" />
                       {% endif %}
                   </td>
                   <td>
                       {#<a class="btn btn-primary btn-large" href="{{ path('ModifierCategorie', { 'id': categorie.id }) }}"> Ajouter au panier </a>#}
                   </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <ul>
            {# On utilise la fonction range(a, b) qui crée un tableau de
            valeurs entre a et b #}
            {% for p in range(1, nombrePage) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('produitsCategorie', {'id': categorie.id},{'page': p}) }}">{{ p
                    }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}