{% extends "AvesnesMedicalecommerceBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Page des produits{% endblock %}
{% block body %}

    <form id="form_recherche" action="{{ path('RechercheProduit') }}" method="POST">
        {{ form_widget(form) }}
        <input type="submit" value="Go !" />
    </form>

    <h1>Liste des produits :</h1>
    {#exemple boucle for#}
    {% for unProduit in produit %}

            <a href="{{ path('AfficherProduit', { 'id': unProduit.id }) }}">Produit n°: {{ unProduit.id }}</a><br>
            Nom : {{ unProduit.nom }}<br>
            EAN : {{ unProduit.ean }}<br>

    {% endfor %}

    <div class="pagination">
        <ul>
            {# On utilise la fonction range(a, b) qui crée un tableau de
            valeurs entre a et b #}
            {% for p in range(1, nombrePage) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('Produits', {'page': p}) }}">{{ p
                    }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>




{% endblock %}